{% extends 'adminbase.html' %}

{% block title %} Add Products {% endblock %}


{% block content %}
    <div class="container">
        <div class="row offset-md-3">
            <div class="col-md-8">
                <h2>Add Product</h2>
                <form method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-primary">Add product</button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}